/* Put your CSS here */

.full {
  height: 100%;
  width: 100%;
}
.lowc {
  background-color: #ECF0F1
}
section.padding.top {
  padding-top: 15%
}
button, .button {
  text-transform: uppercase;
  font-weight: bolder !important;
  margin-left: -1px;
}
