<html>
<head>
  <title>Finanzas</title>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <% if (typeof user !== 'undefined'){ %>
  <meta name="ttoken" content="<%=user.token%>">
  <meta name="tuser" content="<%=user.username%>">
  <meta name="tname" content="<%=user.displayName%>">
  <meta name="timg" content="<%=user._json.profile_image_url%>">
  <% } %>
</head>
<body>
  <!--[if lt IE 9]>
      <script src="/vendor/jquery-1.9.1.js"></script>
  <![endif]-->
  <!--[if gte IE 9]><!-->
      <script src="/vendor/jquery-2.0.0b2.js"></script>
  <!--<![endif]-->

  <script type="text/javascript" src="/vendor/handlebars-1.0.0-rc.3.js"></script>
  <script type="text/javascript" src="/vendor/ember-1.0.0-rc.3.js"></script>
  <!-- Ember Data
  <script src="http://builds.emberjs.com.s3.amazonaws.com/ember-data-latest.js"></script>
   -->
  <script type="text/javascript" src="/scripts/templates.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- `grunt concat:dist`
  <script type="text/javascript" src="/build/Finanzas.js"></script>
  // with Ember, jquery, all `grunt concat:all`
  <script type="text/javascript" src="/build/Finanzas-all.js"></script>
  -->
</body>
</html>
