<section role="main" class="full">
{{partial 'header'}}
<article class="padding scroll">
  <header class="span12">
    <h3> Welcome back {{currentUser.username}}</h3>
  </header>
  <section class="span12">
    {{outlet}}
  </section>
</article>
</section>
