<section class="bck landing text center lowc full padding top">
    <div class="row">
      <div class="column_10 offset_1">
        <h1><strong>Gaur</strong>ko</h1>
        <h2 class="margin-bottom">Keep your daily finances on order</h2>
      </div>
    </div>
    <div class="row">
         <div class="column_8 offset_2 form">
             <input type="email" id="mail" class="large on-left" placeholder="Your email address" style="width:81%">
             <button class="button large on-right"><span class="icon envelope"></span>Send</button>
         </div>
     </div>
    <h5 class="text book">don't worry, we hate spam too.</h5>
</section>
