<div id="modal-right" data-tuktuk="modal" class="side column_5">
  <header>
     <h4 class="inline text book">Side window.</h4>
     <button data-modal="close" class="transparent small on-right inline icon remove"></button>
  </header>
  <article>
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quos dolorum minus fugiat rem similique velit aperiam est sequi neque nulla tenetur minima autem facilis temporibus quaerat consectetur impedit praesentium.
  </article>
</div>
